<div id="welcome" class="hero-unit">
  <h1>Select a Rental Listing Package.</h1>
  <h3>All Packages Include Social Widgets To Increase Engagement.</h3>
</div>
<div class="row plans">
  <div class="span2 well">
    <div class="plan"><h2>Single</h2></div>
    <ul class="unstyled">
      <li>Perfect for single property rentals and subleases. Includes page and page listing on Rent-Tallahassee.com. Billed MONTHLY.</li>
    </ul>
    <h3>$9/month</h3>
    <%= link_to 'Continue', new_user_registration_path(:plan => 'silver'), :class => 'btn btn-primary btn-large' %> 
  </div>
  <div class="span2 well featured">
    <div class="plan featured-plan"><h2>Complex</h2></div>
    <ul class="unstyled">
      <li>Page and Page Listing are designed properties with multiple vacancies. Includes additional details on property.</li>
    </ul>
    <h3>$49/month</h3>
    <%= link_to 'Continue', new_user_registration_path(:plan => 'gold'), :class => 'btn btn-primary btn-large' %> 
  </div>
  <div class="span2 well">
    <div class="plan"><h2>Featured</h2></div>
    <ul class="unstyled">
      <li>Featured Listings are highlighted on the main page.</li>
    </ul>
    <h3>$299/month</h3>
    <%= link_to 'Continue', new_user_registration_path(:plan => 'platinum'), :class => 'btn btn-primary btn-large' %> 
  </div>
  <div class="span4 well">
  	<span class="lead">
  		Select a package to post a rental apartment, house or condo.
  	</span>
  </div>
</div>
