<%= simple_form_for(@subscriber) do |f| %>
  <%= f.error_notification %>

    <%= f.input :email %>
    <%= f.button :submit, 'Continue', class: 'btn btn-primary' %>
    <div id="gplus">
    <div class="g-plusone" data-annotation="bubble"></div>
		</div>
<% end %>
