<%= simple_form_for(@subscriber) do |f| %>
  <%= f.error_notification %>

    <%= f.input :email %>
    <div class="g-plusone" data-annotation="inline" data-width="300"></div>
    <%= f.button :submit, 'Continue', class: 'btn btn-primary' %>

<% end %>
