// Place all the styles related to the Classifieds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Adjust Social Media Buttons
.social iframe {
    margin-bottom: -4px;
}

// Adjust form input sizes
.form-inputs input, .form-inputs textarea {
    width: 100%;
}

// Google Plus Location Adjustment
#gplus {
    float: right;
}

